*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    font-size:18px;
}
.container{
    width:80%;
    margin:50px auto;
}
.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding:40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding:40px;
    background: lightblue;
}
h1,h3{
    margin-bottom:10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
input{
    border:none;
    outline:none;
}
textarea{
    width:100%;
    border:1px solid #ccc;
    padding:10px;
    outline:none;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display:block;
    color:blueviolet;
}
button{
    background: #787878;
    width:100px;
    border:none;
    outline:none;
    color:#fff;
    height:35px;
    border-radius:20px;
    box-shadow:0px 5px 15px 0px rgba(28,0,181,0.3);
}
.content-left h3{
    color:#787878;
    font-weight:600;
    margin-bottom: 30px;
}
.content-right h3{
    font-weight:600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;;
}
tr td{
    padding-top: 20px;;
}
#nameError,#phoneError,#emailError,#textareaError{
    color:red;
    font-size:16px;
}